*{
    font-family: 'Martel', serif;
}

.title{
    float: right;
    padding-top: 15px;
    font-size: 50px;
    color: #38003c;
}

.large-10.medium-10.small-12.columns>h1{
    width: 100%;
    text-align: center;
}
.fa-edit{
    color: #595775;
}
.fa-trash{
    color: indianred;
}

.callout h1 {
    font-size: 2rem;
}
.operators {
    text-align: center;
    margin-right: 15px;
    background-color: #aba6bf !important;
}
body{
    background: radial-gradient(circle,lightskyblue,whitesmoke);


}

.footer{
    text-align:right;
    bottom: 0;
    left: 0;
    right: 0;
}
@include menu-icons;