*{
    font-family: 'Roboto', sans-serif;
}

.title{
    float: right;
    padding-top: 15px;
    font-size: 50px;
    color: #38003c;
}

.large-10.medium-10.small-12.columns>h1{
    width: 100%;
    text-align: center;
}
.fa-edit{
    color: lightskyblue;
}
.fa-trash{
    color: indianred;
}

.callout h1 {
    font-size: 2rem;
}
.operators {
    text-align: center;
    margin-right: 15px;
    background-color: #38003c !important;
}
body{
    background-color: lightskyblue;

}
a:hover {
    background-color: lightblue;
}


